.tblrow
{
    cursor: pointer;
}
.tblrow:hover
{
    background-color: lightseagreen;
}
.detailstbl tr{
    /* padding:10px; */
    margin:10px 0px;
    /* border:1px solid black */
}
.detailstbl tr td{
    font-size: 15px;
    color:green;
}
.detailstbl tr th{
    font-size: 20px;
    padding-left:10px;
 
}
