<div class="panel panel-primary">
    <div class="panel-heading text-center"><h4>Inventory</h4></div>
    <div class="panel-body">
        <div class="col-sm-8 col-sm-offset-2">
            <table class="table table-bordered table-striped" [mfData]="carmodels" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead>
                    <tr>
                        <th style="width: 10%">
                                <mfDefaultSorter by="sno">S.No.</mfDefaultSorter>
                        </th>
                        <th style="width: 40%">
                            <mfDefaultSorter by="manfname">Manufacturer Name</mfDefaultSorter>
                        </th>
                        <th style="width: 40%">
                            <mfDefaultSorter by="name">Model Name</mfDefaultSorter>
                        </th>
                        <th style="width: 10%">
                            <mfDefaultSorter by="count">Count</mfDefaultSorter>
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of carmodels;index as i" class="tblrow" (click)="getdetails(i,template)" >
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.manfname}}</td>
                        <td >{{item.quntity}}</td>
                        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
                </table>
            </div>
        </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h3 class="modal-title pull-left">Car Model Details</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-1" >
                    
                <table  class="detailstbl">
                    <tr>
                        <td class="text-right">Model Name : </td> <th>{{carmodelDetails.name}}</th>
                    </tr>
                    <tr>
                        <td class="text-right">Manufacturer : </td> <th>{{carmodelDetails.manfname}}</th>
                    </tr>
                    <tr>
                        <td class="text-right">Color : </td> <th>{{carmodelDetails.color}}</th>
                    </tr>
                    <tr>
                        <td class="text-right">Registration Number : </td> <th>{{carmodelDetails.regnum}}</th>
                    </tr>
                    <tr>
                        <td class="text-right">Manufacture Year : </td> <th>{{carmodelDetails.manfyear}}</th>
                    </tr>
                    <tr>
                        <td class="text-right">Notes : </td> <th>{{carmodelDetails.notes}}</th>
                    </tr>
                    <tr>
                        <td class="text-right">Count : </td> <th>{{carmodelDetails.count}}</th>
                    </tr>
                    <tr>
                            <td class="text-center"  colspan="2">
                                    <button type="button" (click)="soldmodel(carmodelDetails.id)" style="margin:5px;" class="btn  btn-warning btn-block" >Sold</button>
                            </td> 
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <img *ngIf="carmodelDetails.img1.length > 0" [src]="carmodelDetails.img1" width="100%">
                <img *ngIf="carmodelDetails.img2.length > 0" [src]="carmodelDetails.img2" width="100%">
            </div>
        </div>
    </div>
  
</ng-template>