<div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>Car Models</h4></div>
        <div class="panel-body">
            
            <form class="form-horizontal" >
                <div class="row ">
                  <div *ngIf="successmsg" class="col-sm-9 text-center alert alert-success col-sm-offset-2" style="padding:3px;"><b>Success</b>.. Saved Successfully </div>

                  <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label for="modelname" class="control-label col-sm-5">Model Name  :</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="name"   required [(ngModel)]="carmodelobj.name">
                                <span *ngIf="validations.name" style="color:red">* Name Should Required</span>
                            </div>
                        </div>
                        
                  </div>
                  <div class="col-sm-5 ">
                        <div class="form-group">
                        <label for="mname" class="control-label col-sm-5">Manufacturer :</label>
                        <div class="col-sm-7">
                            <select class="form-control" name="manfid"   [(ngModel)]="carmodelobj.manfid">
                                <option value="0">--Manufacturer--</option>
                                <option *ngFor = "let man of manufactarr" [value]="man.id">{{man.name}}</option>
                            </select>
                            <span *ngIf="validations.manfid" style="color:red">* Manufacturer Should Required</span>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                  <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                                <label for="modelname" class="control-label col-sm-5">Color  :</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="color"  [(ngModel)]="carmodelobj.color">
                                    
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="modelname" class="control-label col-sm-5">Manufactur Year  :</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" name="manfyear" min="1900" max="2099" step="1"   [(ngModel)]="carmodelobj.manfyear">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="modelname" class="control-label col-sm-5">Registration Number  :</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="regnum" [(ngModel)]="carmodelobj.regnum">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="modelname" class="control-label col-sm-5">Note  :</label>
                                <div class="col-sm-7">
                                    <textarea  class="form-control" name="notes"  [(ngModel)]="carmodelobj.notes"></textarea>
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="modelname" class="control-label col-sm-5">Count  :</label>
                                <div class="col-sm-3">
                                        <select class="form-control" name="count"   [(ngModel)]="carmodelobj.count">
                                                <option *ngFor="let number of [1,2,3,4,5,6]" [value]="number">{{number}}</option>
                                        </select>
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="modelname" class="control-label col-sm-5">Upload Image 1 :</label>
                                <div class="col-sm-7">
                                        <input #imageInput1 type="file" name="img1" accept="image/*"  (change)="processFile(imageInput1,1)">
                                        <img *ngIf="imgdummy1.length > 0" [src]="imgdummy1" height="100%" width="100%">
                                </div>
                        </div>
                        <div class="form-group">
                                <label for="modelname" class="control-label col-sm-5">Upload Image 2 :</label>
                                <div class="col-sm-7">
                                        <input #imageInput2 type="file" name="img2" accept="image/*"  (change)="processFile(imageInput2,2)">
                                        <img *ngIf="imgdummy2.length > 0" [src]="imgdummy2" height="100%" width="100%">
                                    </div>
                        </div>
                        <div class="form-group text-center">
                                <button type="submit" class="btn btn-success " (click)="insertcarmodel()">Submit</button>
                                
                        </div>
                        
                  </div>
                  </div>

              </form>
              </div>
            </div>
        
