<nav class="navbar navbar-default navbar-static-top ">
    <div class="container-fluid">
      <div class="navbar-header" >
          <a class="navbar-brand" href="#" style="padding:5px 15px;">
              <img src="assets/logomain.png"  style="width: 200px;"/>
            </a>
      </div>
      <ul class="nav navbar-nav " style="margin-left:10px;">
        <li ><a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/manufacturer">Manufacturers</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/carmodel">Model</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/inventory">Inventory</a></li>
       
      </ul>
    </div>
  </nav>
  
  <div class="container-fluid">
<router-outlet></router-outlet>
</div>