/* .nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  @media (min-width: 768px) {
    .navbar-nav {
      float: none;
    }
  } */
  .navbar-default
  {
      background-color: lightblue;
  }