    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>Manufacturers</h4></div>
        <div class="panel-body">
            <div class="row ">
                <form class="form-horizontal" >
                  <div class="col-sm-5 col-sm-offset-3">
                    <div class="form-group">
                      <label for="mname" class="control-label col-sm-5">Name of Manufacturer :</label>
                      <div class="col-sm-7">
                          <input type="text" class="form-control" required name="mname" [(ngModel)]="mname">
                        </div>
                      </div>
                      <div *ngIf="successmsg" class="alert text-center alert-success col-sm-offset-1" style="padding:3px;"><b>Success</b>.. Saved Successfully </div>
                      <div *ngIf="validmsg" class="alert text-center alert-warning col-sm-offset-1" style="padding:3px;"><b>Alert</b>.. Name Should Mandatory </div>

                    </div>
                  <div class="col-sm-3">
                      <button type="button" class="btn btn-success" (click)="addmanufacturer($event)">Submit</button>
                  </div>
              </form>
              
            </div>
        </div>
    </div>
